img {
  max-height: 350px;
  width: auto;
  margin: 0.5rem;
}

@media (max-width: 450px) {
  img {
    max-width: 250px;
    height: auto;
    margin: 0.5rem 0rem;
  }
}

@media (max-width: 410px) {
  img {
    max-width: 230px;
  }
}

@media (max-width: 390px) {
  img {
    max-width: 210px;
  }
}

@media (max-width: 350px) {
  img {
    max-width: 190px;
  }
}

@media (max-width: 330px) {
  img {
    max-width: 170px;
  }
}
